* {
  font-family: "Onest", sans-serif;
}

.navbar-light .navbar-brand {
  color: white !important;
  font-weight: 500;
  transition: 0.5s;
}

.navbar-brand:hover,
.nav-link:hover {
  transform-style: 0.6s;
  color: #4d7cff !important;
}


.home {
  padding: 60px 0 40px 0;
}

.home-img {
  border-radius: 50%;
  max-width: 300px;
  height: auto;
}


h1.intro-tx1 {
  width: 100%;
  font-size: 30px;
  font-weight: 550;

}

h3.texto-Area {
  color: #143ba5;
  text-transform: capitalize !important;
  font-weight: 660;
}

span.skills {
  font-size: 14px;
}

.social-networks {
  padding-left: 0;
  font-size: 28px;
}

.social-networks li {
  display: inline-block;
}

.snlnk {
  color: #a51427;
}

.rd {
  margin: 0 !important;
}