* {
  font-family: "Onest", sans-serif;
}

.navbar-light .navbar-brand {
  color: white !important;
  font-weight: 500;
  transition: 0.5s;
}

.navbar-brand:hover,
.nav-link:hover {
  transform: scale(1.1);
  color: #4d7cff !important;
}

.hero {
  background-color: #f8f9fa;
  padding: 60px 0 40px 0;
}

.about {
  padding: 20px 0;
}

.home-img {
  border-radius: 50%;
  max-width: 300px;
  height: auto;
}

h1.intro-tx1 {
  width: 100%;
  font-size: 30px;
  font-weight: 550;
}

h3.texto-Area {
  color: #143ba5;
  text-transform: capitalize;
  font-weight: 600;
}

span.skills {
  font-size: 14px;
}

.social-networks {
  padding-left: 0;
  font-size: 28px;
}

.social-networks li {
  display: inline-block;
}

.snlnk {
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.snlnk:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #343a40;
}

.footer h3 {
  color: #fff;
  font-size: 24px;
}

.footer .social-networks {
  margin-top: 20px;
}

.footer .social-networks li {
  margin: 0 10px;
}

.footer .social-networks .snlnk {
  font-size: 24px;
}

#custom-styles {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 1.25rem;
  text-align: left;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #custom-styles {
    font-size: 1.125rem;
  }
}

#custom-styles p {
  margin-top: 0;
}

.col {
  border-left: 2px solid #ccc;
}

.content {
  position: relative;
}

.content::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #143ba5;
  border-radius: 50%;
  position: absolute;
  left: -23px;
  top: 6px;
}
@media screen and (max-width: 992px) {
  .col {
    border-left: 2px solid #ccc;
    position: relative;
    margin-left: 28px;
  }
  
  .content::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #143ba5;
    border-radius: 50%;
    position: absolute;
    left: -23px;
    top: 6px;
    z-index: 1; /* Aumenta la especificidad del selector */
  }
}


.cv {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 3px solid #143ba5;
  border-radius: 5px;
  color: #143ba5;
  font-weight: bold;
  cursor: pointer;
}

.cv:hover {
  background-color: #143ba5;
  color: #ffffff;
}